.App {
  background-color: #9acbff; /* צבע תכלת */
  margin: 0; /* מסיר גבולות של הדף */
  padding: 0; /* מסיר ריווח בסיסי */
  font-family: Arial, sans-serif; /* סוג גופן כללי */
 
}

.App-img {
  width: 75px;
  height: 75px;
}

.App-header {
  background-color: #cfe2f3; /* צבע תכלת רך יותר */
}
.Enter-form {
  background-color: #f8f9fa; /* רקע אפור בהיר */
  border-radius: 20px; /* פינות מעוגלות */
  display: flex;
  flex-direction: column; /* תצוגה של האלמנטים בציר האנכי */
  justify-content: center;
  align-items: center;
  padding: 40px; /* מרווח בפנים לפריטים */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* הצללה קלה */
  width: 300px; /* רוחב קבוע */
  margin: auto; /* מרכוז אופקית ואנכית */
}

.Enter-form h1 {
  margin-bottom: 20px; /* מרווח מתחת לכותרת */
  color: #007bff; /* צבע כחול */
  text-align: center;
}

.Enter-form button {
  background-color: #007bff; /* צבע כחול */
  color: white; /* צבע רקע למלל */
  border: none; /* ללא מסגרת */
  border-radius: 5px; /* פינות מעוגלות */
  padding: 10px 20px; /* מרווח פנים */
  margin: 10px 0; /* מרווח מעל ומתחת לכפתור */
  cursor: pointer; /* סמן עכבר מראה כיד במעבר */
  transition: background-color 0.3s ease; /* אנימציה עבור שינוי צבע בעכבר */
}

.Enter-form button:hover {
  background-color: #0056b3; /* צבע כחול כהה במעבר עכבר */
}

.Enter-form-register {
  background-color: #f8f9fa; /* רקע אפור בהיר */
  border-radius: 20px; /* פינות מעוגלות */
  display: flex;
  flex-direction: column; /* תצוגה של האלמנטים בציר האנכי */
  justify-content: center;
  align-items: center;
  padding: 40px; /* מרווח בפנים לפריטים */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* הצללה קלה */
  width: 450px; /* רוחב קבוע */
  margin: auto; /* מרכוז אופקית ואנכית */
}

.custom-header{
  background-color: silver;
}

.custom-link{
  color: black;
  text-decoration: none;
}

.custom-link:hover {
  color: blue;
  text-decoration: underline;
}

.img-about{
  height: 125px;
  width: 125px;
}
/* Upload.css */
.upload-container {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.custom-file-upload {
  display: block;
  padding: 10px;
  background: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-upload:hover {
  background: #0056b3;
}

.uploaded-image {
  max-width: 100%;
  margin-top: 10px;
}

.container-container1{
  padding-left: 75px;
  padding-right: 75px;
  margin-left: auto;
  margin-right: auto;
}

.container-container1 img{
  width: auto;
  max-height: 300px;
}

.container-container1 .col-md{
  display: flex;
  align-items: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}


body{
  background-color:#c5e2ff6e;
}

.item{
  background-color: white;
}
.content-container {
  margin-top: 20px; /* Adjust the value as needed */
}

.center-button {
  display: flex;
  justify-content: center;
}
